.conteiner {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px
  2px #000000;
  transform: translate3d(0, -150%,0);
}

.box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-game {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  transform: translate3d(0,0,0);
}

.description-game {
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .2rem;
  font-size: 0rem;
  gap: .5rem;
}

.description-game .nome-game {
  width: auto;
  height: auto;
  display: block;
  text-shadow: 1px 1px 4px #000;
}

.description-game .qntdPalavras-game {
  width: auto;
  height: auto;
  display: block;
  text-shadow: 1px 1px 4px #000;
}
.description-game .nome-game::after {
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background: #fff;
  box-shadow: 0px 0px 1px 1px #fd06fd;
}

.description-game .qntdPalavras-game::after {
  content: "";
  display: block;
  width: auto;
  height: 1px;
  background: #fff;
  box-shadow: 0px 0px 1px 1px #0c59ff;
}

.box-img .img-play {
  background: transparent;
  border-radius: 9px;
  position: absolute;
  top: 79%;
}

.box-description {
  height: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffffb6;
  position: absolute;
  top: 0;
  left: 0;
}

.box-description h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 2;
  background: transparent;
  text-shadow: 1px 4px 7px #000;
  bottom: 50%;
  position: absolute;
  font-size: 1.3rem;
  transition: .5s;
}

.disappear {
  opacity: 0;
  transform: translate3d(300px,0,0);
  transition: 1s;
}

@media screen and (max-width: 418px) {
  .conteiner {
    width: auto;
    height: auto;
    padding: .7rem;
  }
  .box-img .img-game {
    width: 6rem;
    height: auto;
    border-radius: 9px;
    box-shadow: 3px 9px 20px #00000090;
  }
}

