
.conteiner {
  margin: 2rem;
}

.conteiner-tema {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.content_temas {
  width: 100%;
  height: 100%;
  background: #ffffff0f;
  border-radius: 20px;
  padding: 4rem 1rem;
  box-shadow: 3px 9px 20px #000000d2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.conteiner-game {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.titleTema {
  text-align: center;
  color: #fff;
  margin: 1rem;
}

input {
  display: none;
}

button {
  position: absolute;
  width: 5rem;
  height: 2rem;
  background: transparent;
  border: none;
  color: #fff;
  box-shadow: 0px 0px 3px #ffffff;
  transform: translate3d(0,-150%,0);
}

button:hover {
  background: transparent;
  border: none;
  color: #fff;
  box-shadow: 0px 0px 5px #55ee0e;
  transform: translate3d(0,-150%,0);
}


@media screen and (min-width: 757px) {
  .conteiner-game {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
}



