
.conteiner {
  margin: 2rem;
}

.conteiner-tema {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.conteiner-game {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.titleTema {
  text-align: center;
  color: #fff;
  margin: 1rem;
}

button {
  position: absolute;
  width: 5rem;
  height: 2rem;
  background: transparent;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 5px #ffffff;
  transform: translate3d(0,-150%,0);
}

.content_temas {
  width: 100%;
  height: 100%;
  background: #ffffff0f;
  border-radius: 20px;
  padding: 4rem 1rem;
  box-shadow: 3px 9px 20px #000000d2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}


