<section class="conteiner">
  <app-home *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-home>
</section>

  <section class="conteiner-tema">
    <app-tema-main *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-tema-main>
    <app-tema-main *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-tema-main>
    <app-tema-main *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-tema-main>
    <app-tema-main *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-tema-main>
    <app-tema-main *ngIf="isAlive" (changeAlive)="onChangeAlive()"></app-tema-main>
  </section>




