<section class="conteiner">
  <div class="navbar">
    <i
      class="bi bi-arrow-left"
      style="font-size: 1.5rem; color: rgb(255, 255, 255)"
    ></i>
    <h2>{{ temaRound }}</h2>
    <i
      class="bi bi-gear-fill"
      style="font-size: 1.5rem; color: rgb(255, 255, 255)"
    ></i>
  </div>
  <div class="content">
    <span>Palavra:</span>
    <h2>{{ nomePersonagem }}</h2>
  </div>
  <div class="photoCover">
    <div class="content-character">
      <img src=" {{ photoCover }} " alt="" />
      <span class="nome-img"> {{ nomePersonagem }} </span>
    </div>
  </div>
  <div class="content-timer">
    <div class="timer">
      <i
        class="bi bi-stopwatch"
        style="font-size: 1.5rem; color: rgb(255, 255, 255)"
      ></i>


      <div class="barra-timer">
        <span class="tempo-timer">1 minuto</span>
        <div
        class="progress"
        role="progressbar"
        aria-label="Basic example"
        aria-valuenow="100"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div #progressBar class="progress-bar" style="width: 100%"></div>
      </div>
      <!-- <div class="background-timer">
          <span class="barra-progress"></span>
        </div> -->
      </div>
    </div>
    <div class="d-grid gap-1">
      <button class="btn btn-light btnTimer" type="button" (click)="initTimer()">
        Iniciar timer
      </button>
      <button class="btn btn-dark btnWork" type="button" (click)="nextWork()">
        Próxima palavra
      </button>
    </div>
  </div>
</section>
