.conteiner {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 1rem 2rem;
  background: #a04b26;
  border-radius: 20px;
  box-shadow: 3px 9px 20px #00000090;
}

.box-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box-img .img-game {
  width: 8rem;
  height: auto;
  border-radius: 9px;
  box-shadow: 3px 9px 20px #00000090;
}

.box-img .img-play {
  background: transparent;
  border-radius: 9px;
  position: absolute;
  top: 79%;
}

.box-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: left;
  font-family: monospace;
}

.box-description h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: .2rem
}

.disappear {
  opacity: 0;
  transform: translate3d(300px,0,0);
  transition: 1s;
}
